<h6> Dashboard </h6>
<h3> Welcome {{name}}</h3>
<p> Here are your diaries </p>
{{!-- if diary have content / exist --}}
{{#if stories}}
    <table class="stripled">
        <thead>
            <tr>
                <th> Title </th>
                <th> Date </th>
                <th> Status </th>
                <th>  </th>

            </tr>
        </thead>
        <tbody>
            {{#each stories}}
            <tr>
                <td> <a href="/stories/{{id}}"></a> {{title}} </td>
                <td> {{createdAt}}</td>
                <td> <span class="dash-status"> {{status}}</span></td>
                <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p> You have nothing in your diary </p>
{{/if}}